:root {
  --color-primary: #de385c;
  --color-secondary: #fff;
  --color-three: #83b1a1;
  --color-green-light: #e9fffa;
  --color-green-light-1: #e4f3eb;
  --color-green-dark: #589D98;
  --color-green-dark-1: #70d5bd;
  --color-orange: #f67163;
  --color-light: #f2efe7;
  --color-blue-dark: #2D3842;
  --color-gray-light: #767676;
  --mb-s: 2rem;
  --mb-m: 3rem;
  --mb-l: 5rem;
  --mb-xl: 10rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  letter-spacing: .5px;
  line-height: 1.6;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-secondary);
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

@media only screen and (max-width: 30.625em) {
  .container {
    padding: 0 3rem;
  }
}

.main {
  margin-top: 5rem;
  background-image: url(/img/bg-main-2.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer {
  background-color: #fff7ec;
  background-image: url(/img/bg-footer-2.png);
  background-repeat: no-repeat;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: initial;
  color: var(--color-blue-dark);
}

.blog {
  margin-bottom: 10rem;
}

@media only screen and (max-width: 56.25em) {
  .blog {
    margin-bottom: var(--mb-l);
  }
}

.blog__heading {
  text-align: center;
  margin-bottom: 8rem;
}

@media only screen and (max-width: 30.625em) {
  .blog__heading {
    margin-bottom: 4rem;
  }
}

.blog__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(34rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(34rem, 1fr));
  grid-gap: 3rem;
}

.blog__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 3rem;
  background-color: #fff7ec;
  border-radius: 1rem;
  padding: 3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

@media only screen and (max-width: 75em) {
  .blog__post {
    background-color: #fff;
  }
}

.blog__post:hover {
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.blog__post:hover .blog__btn span {
  margin-left: 8px;
}

.blog__img {
  width: 60%;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.blog__author, .blog__date {
  font-size: 1.4rem;
  color: var(--color-gray-light);
}

.blog__text {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  color: var(--color-blue-dark);
}

.blog__btn {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column-align: start;
      justify-self: start;
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1.7rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  color: var(--color-orange);
}

.blog__btn span {
  margin-left: 3px;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.download {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(47rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(47rem, 1fr));
  grid-column-gap: 5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-xl);
}

@media only screen and (max-width: 56.25em) {
  .download {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-bottom: var(--mb-l);
  }
}

@media only screen and (max-width: 41.25em) {
  .download {
    margin-bottom: 7rem;
  }
}

@media only screen and (max-width: 30.625em) {
  .download {
    margin-bottom: var(--mb-xl);
  }
}

@media only screen and (max-width: 56.25em) {
  .download__image {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

@media only screen and (max-width: 56.25em) {
  .download__content {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
    margin: 0 14rem;
    background-color: #fff;
    padding: 5rem;
    border-radius: 1rem;
    z-index: 10;
  }
}

@media only screen and (max-width: 41.25em) {
  .download__content {
    margin: 0;
    padding: 4rem;
  }
}

.download__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 56.25em) {
  .download__img {
    opacity: .2;
    width: 100%;
    z-index: 5;
  }
}

@media only screen and (max-width: 41.25em) {
  .download__img {
    display: none;
  }
}

.download__text {
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  color: var(--color-gray-light);
}

@media only screen and (max-width: 56.25em) {
  .download__text {
    color: var(--color-blue-dark);
  }
}

@media only screen and (max-width: 30.625em) {
  .download__buttons {
    text-align: center;
  }
}

.download__btn--1 {
  height: 5rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 30.625em) {
  .download__btn--1 {
    margin: 0;
  }
}

.download__btn--2 {
  height: 5rem;
}

.experience {
  text-align: center;
  margin-bottom: var(--mb-xl);
}

@media only screen and (max-width: 56.25em) {
  .experience {
    margin-bottom: var(--mb-l);
  }
}

@media only screen and (max-width: 30.625em) {
  .experience {
    margin-bottom: 3rem;
  }
}

.experience__heading {
  text-align: center;
  max-width: 50rem;
  margin: auto;
  color: var(--color-blue-dark);
}

.experience__heading p {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: var(--color-gray-light);
}

.experience__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 2rem;
  margin-top: 7rem;
}

@media only screen and (max-width: 56.25em) {
  .experience__items {
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 30.625em) {
  .experience__items {
    grid-gap: .5rem;
  }
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.experience__item:hover {
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.experience__icon {
  width: 7rem;
  height: 7rem;
  fill: var(--color-orange);
  margin-bottom: 2rem;
}

.experience__item-heading {
  font-size: 2.2rem;
  font-weight: 400;
  color: var(--color-blue-dark);
}

.experience__text {
  margin: 2rem 3rem;
  font-size: 1.7rem;
  color: var(--color-blue-dark);
}

.features__img {
  display: block;
  margin: auto;
  width: 45%;
}

.footerr {
  background-color: #fef6e8;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
  font-size: 1.7rem;
  padding-top: 4rem;
  color: var(--color-gray-light);
}

.footerr__menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5rem;
}

@media only screen and (max-width: 41.25em) {
  .footerr__menu {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 3rem;
    margin-bottom: 3rem;
  }
}

.footerr__cols {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 10rem;
}

@media only screen and (max-width: 30.625em) {
  .footerr__cols {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 4rem;
    justify-items: center;
    text-align: center;
  }
}

.footerr__contact-list {
  list-style: none;
}

.footerr__contact-item {
  margin-bottom: .8rem;
}

.footerr__heading {
  font-size: 2rem;
  font-weight: 400;
  color: var(--color-blue-dark);
  margin-bottom: 2rem;
}

.footerr__links-list {
  list-style: none;
}

.footerr__links-item {
  margin-bottom: .8rem;
}

.footerr__links-item-link:link, .footerr__links-item-link:visited {
  color: var(--color-gray-light);
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footerr__links-item-link:hover, .footerr__links-item-link:active {
  color: var(--color-blue-dark);
}

.footerr__social {
  -ms-grid-column-align: end;
      justify-self: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

@media only screen and (max-width: 41.25em) {
  .footerr__social {
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.footerr__icon {
  height: 4rem;
  width: 4rem;
  fill: var(--color-gray-light);
  -webkit-transition: all .3s;
  transition: all .3s;
}

.footerr__icon:not(:last-child) {
  margin-right: 2.5rem;
}

.footerr__icon:hover {
  fill: var(--color-blue-dark);
  cursor: pointer;
}

.footerr__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-bottom: 4rem;
}

@media only screen and (max-width: 41.25em) {
  .footerr__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footerr__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.footerr__nav-item:not(:last-child) {
  margin-right: 2.5rem;
}

.footerr__nav-item-link:link, .footerr__nav-item-link:visited {
  color: var(--color-gray-light);
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.footerr__nav-item-link:hover, .footerr__nav-item-link:active {
  color: var(--color-blue-dark);
}

@media only screen and (max-width: 51.4375em) {
  .footerr__logo {
    display: none;
  }
}

.footerr__logo-img {
  width: 5rem;
  height: auto;
}

@media only screen and (max-width: 41.25em) {
  .footerr__copy {
    margin-top: 2.5rem;
  }
}

.header {
  min-height: 80vh;
  background-image: url(/img/bg-header-2.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--mb-xl);
}

@media only screen and (max-width: 56.25em) {
  .header {
    margin-bottom: var(--mb-l);
  }
}

@media only screen and (max-width: 46.875em) {
  .header {
    min-height: 75vh;
  }
}

@media only screen and (max-width: 41.25em) {
  .header {
    min-height: 72vh;
  }
}

@media only screen and (max-width: 30.625em) {
  .header {
    margin-bottom: var(--mb-xl);
  }
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 5rem;
  margin-bottom: var(--mb-l);
}

@media only screen and (max-width: 56.25em) {
  .navigation {
    margin-bottom: var(--mb-m);
  }
}

@media only screen and (max-width: 41.25em) {
  .navigation {
    margin-bottom: var(--mb-l);
  }
}

@media only screen and (max-width: 30.625em) {
  .navigation {
    padding-top: 3rem;
  }
}

.logo-box {
  color: #000;
  font-size: 4rem;
  font-weight: 400;
}

.logo-box-img {
  width: 15rem;
  height: auto;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 1.6rem;
}

.top-nav__item {
  padding: .5rem 1rem;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

@media only screen and (max-width: 56.25em) {
  .top-nav__item {
    display: none;
  }
}

.top-nav__item:not(:last-child) {
  margin-right: 2.3rem;
}

.top-nav__item:hover {
  background-color: #fff;
  border-radius: 1rem;
}

.top-nav__current {
  background-color: #fff;
  border-radius: 1rem;
}

.top-nav__link:link, .top-nav__link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--color-blue-dark);
  text-decoration: none;
  font-weight: 400;
}

.top-nav__icon {
  height: 2rem;
  width: 2rem;
  margin-left: .3rem;
  fill: var(--color-orange);
}

.burger-menu {
  background-color: var(--color-orange);
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  display: none;
}

@media only screen and (max-width: 56.25em) {
  .burger-menu {
    display: block;
  }
}

.burger-menu:hover {
  background-color: #d46256;
}

.burger-menu__bar {
  width: 3.5rem;
  height: .4rem;
  background-color: #fff;
  margin: .6rem 0;
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__main {
  z-index: 20;
}

@media only screen and (max-width: 56.25em) {
  .header-content__main {
    grid-column: 1 / -1;
    -ms-grid-row: 1;
    grid-row: 1;
    text-align: center;
    margin: 0 14rem;
  }
}

@media only screen and (max-width: 46.875em) {
  .header-content__main {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 30.625em) {
  .header-content__main {
    margin: 0;
  }
}

.header-content__title {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  line-height: initial;
  color: var(--color-blue-dark);
}

@media only screen and (max-width: 41.25em) {
  .header-content__title {
    font-size: 4.5rem;
  }
}

.header-content__text {
  font-size: 2rem;
  margin-bottom: 5rem;
  color: var(--color-gray-light);
}

.header-content__hero {
  display: -ms-grid;
  display: grid;
  z-index: 15;
}

@media only screen and (max-width: 56.25em) {
  .header-content__hero {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
  }
}

.header-content__img {
  width: 90%;
  -ms-grid-column-align: end;
      justify-self: end;
}

@media only screen and (max-width: 56.25em) {
  .header-content__img {
    opacity: 0.1;
  }
}

.btn-cta {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: var(--color-orange);
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  margin-right: 2rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btn-cta:hover {
  background-color: #d46256;
}

.btn-secondary {
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 10px;
  border: none;
  background-color: #83b1a1;
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  z-index: 100;
}

.btn-secondary:hover {
  background-color: #6f9487;
}

.testimonials {
  margin-bottom: var(--mb-l);
}

.testimonials__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(45rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
  grid-gap: 3rem;
}

@media only screen and (max-width: 30.625em) {
  .testimonials__content {
    -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}

.testimonials__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10rem;
}

@media only screen and (max-width: 58.75em) {
  .testimonials__intro {
    margin: 0 5rem;
  }
}

@media only screen and (max-width: 51.4375em) {
  .testimonials__intro {
    margin: 0;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
    margin-bottom: 3rem;
    max-width: 45rem;
  }
}

.testimonials__intro__text {
  font-size: 1.7rem;
  margin-top: 2rem;
  color: var(--color-gray-light);
}

.testimonials__review {
  background-color: var(--color-green-light-1);
  padding: 3rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-gap: 2rem;
}

.testimonials__review__text {
  grid-column: 1 / -1;
  font-size: 1.7rem;
  color: var(--color-blue-dark);
}

.testimonials__img {
  width: 8rem;
  border-radius: 50%;
}

.testimonials__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonials__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
}

.testimonials__icon {
  height: 2rem;
  width: 2rem;
  fill: #f39200;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonials__name {
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--color-gray-light);
}
/*# sourceMappingURL=main.css.map */