:root {
  --color-primary: #de385c;
  --color-secondary: #fff;
  --color-three: #83b1a1;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-secondary);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.main {
  margin-top: 5rem;
  height: 350rem;
  background-image: url(/img/bg-main-1.png);
  background-color: #fff;
  background-repeat: no-repeat;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
}

.experience {
  text-align: center;
}

.experience__heading {
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

.experience__heading p {
  font-size: 1.5rem;
  margin-top: 2rem;
}

.experience__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 2rem;
  margin-top: 7rem;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.experience__item:hover {
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 3rem 4rem #dde9ff;
          box-shadow: 0 3rem 4rem #dde9ff;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.experience__icon {
  width: 7rem;
  height: 7rem;
  fill: #83b1a1;
  margin-bottom: 2rem;
}

.experience__item-heading {
  font-size: 2rem;
  font-weight: 400;
}

.experience__text {
  margin: 2rem 3rem;
  font-size: 1.5rem;
}

.header {
  min-height: 80vh;
  background-image: url(/img/header-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
}

.logo-box {
  color: #000;
  font-size: 4rem;
  font-weight: 400;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 1.6rem;
}

.top-nav__item:not(:last-child) {
  margin-right: 4.3rem;
}

.top-nav__link:link, .top-nav__link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

.top-nav__icon {
  height: 2rem;
  width: 2rem;
  margin-left: .3rem;
  fill: var(--color-primary);
}

.header-content {
  margin-top: 5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__title {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3rem;
}

.header-content__text {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.header-content__hero {
  display: -ms-grid;
  display: grid;
}

.header-content__img {
  width: 80%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.btn-cta {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-color: #de385c;
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  margin-right: 2rem;
}

.btn-secondary {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-color: #83b1a1;
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
}
/*# sourceMappingURL=main.css.map */