:root {
  --color-primary: #de385c;
  --color-secondary: #fff;
  --color-three: #83b1a1;
  --mb-s: 2rem;
  --mb-m: 3rem;
  --mb-l: 5rem;
  --mb-xl: 10rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  letter-spacing: .5px;
  line-height: 1.6;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  background-color: var(--color-secondary);
}

.container {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 5rem;
}

.main {
  margin-top: 5rem;
  background-image: url(/img/bg-main-1.png);
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: top center;
}

.footer {
  background-color: #ebf3ff;
  background-image: url(/img/bg-footer.png);
  background-repeat: no-repeat;
}

.heading-2 {
  font-size: 4rem;
  font-weight: 400;
  line-height: initial;
}

.blog {
  margin-bottom: 15rem;
}

.blog__heading {
  text-align: center;
  margin-bottom: 8rem;
}

.blog__posts {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(35rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  grid-gap: 3rem;
}

.blog__post {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (min-content)[4];
      grid-template-rows: repeat(4, -webkit-min-content);
      grid-template-rows: repeat(4, min-content);
  grid-row-gap: 3rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.blog__post:hover {
  -webkit-box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 3rem 4rem rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.blog__post:hover .blog__btn span {
  margin-left: 8px;
}

.blog__post--1 {
  background-color: #fdf2f2;
  border-radius: 1rem;
  padding: 3rem;
}

.blog__post--2 {
  background-color: #e4f3eb;
  border-radius: 1rem;
  padding: 3rem;
}

.blog__post--3 {
  background-color: #eaf2ff;
  border-radius: 1rem;
  padding: 3rem;
}

.blog__img {
  width: 60%;
  grid-column: 1 / -1;
  -ms-grid-column-align: center;
      justify-self: center;
}

.blog__author, .blog__date {
  font-size: 1.5rem;
}

.blog__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
}

.blog__btn {
  -ms-grid-row: 4;
  grid-row: 4;
  -ms-grid-column-align: start;
      justify-self: start;
  display: inline;
  border: none;
  background: none;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
  font-size: 1.5rem;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
}

.blog__btn span {
  margin-left: 3px;
  -webkit-transition: margin-left .2s;
  transition: margin-left .2s;
}

.download {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(36vw, 1fr) 1fr;
      grid-template-columns: minmax(36vw, 1fr) 1fr;
  grid-column-gap: 5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: var(--mb-xl);
}

.download__img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.download__text {
  font-size: 2rem;
  margin: 3rem 0;
  color: #777;
}

.download__btn--1 {
  height: 5rem;
  margin-right: 1rem;
}

.download__btn--2 {
  height: 5rem;
}

.experience {
  text-align: center;
  margin-bottom: var(--mb-xl);
}

.experience__heading {
  text-align: center;
  max-width: 50rem;
  margin: auto;
}

.experience__heading p {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: #777;
}

.experience__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(29rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(29rem, 1fr));
  grid-gap: 2rem;
  margin-top: 7rem;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3rem 0;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.experience__item:hover {
  background-color: #fff;
  border-radius: 1rem;
  -webkit-box-shadow: 0 3rem 4rem #dde9ff;
          box-shadow: 0 3rem 4rem #dde9ff;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.experience__icon {
  width: 7rem;
  height: 7rem;
  fill: #83b1a1;
  margin-bottom: 2rem;
}

.experience__item-heading {
  font-size: 2rem;
  font-weight: 400;
}

.experience__text {
  margin: 2rem 3rem;
  font-size: 1.5rem;
  color: #777;
}

.features__img {
  display: block;
  margin: auto;
  width: 45%;
}

.header {
  min-height: 80vh;
  background-image: url(/img/header-bg.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: var(--mb-xl);
}

.navigation {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 5rem;
  margin-bottom: var(--mb-l);
}

.logo-box {
  color: #000;
  font-size: 4rem;
  font-weight: 400;
}

.top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  font-size: 1.6rem;
}

.top-nav__item:not(:last-child) {
  margin-right: 4.3rem;
}

.top-nav__link:link, .top-nav__link:visited {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  text-decoration: none;
  font-weight: 400;
}

.top-nav__icon {
  height: 2rem;
  width: 2rem;
  margin-left: .3rem;
  fill: var(--color-primary);
}

.header-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content__title {
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 3rem;
  line-height: initial;
}

.header-content__text {
  font-size: 2rem;
  margin-bottom: 4rem;
  color: #777;
}

.header-content__hero {
  display: -ms-grid;
  display: grid;
}

.header-content__img {
  width: 90%;
  -ms-grid-column-align: end;
      justify-self: end;
}

.btn-cta {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-color: #de385c;
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
  margin-right: 2rem;
}

.btn-secondary {
  font-size: 1.2rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-color: #83b1a1;
  color: #fff;
  padding: 1.5rem 3.5rem;
  cursor: pointer;
}

.testimonials {
  margin-bottom: var(--mb-xl);
}

.testimonials__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.testimonials__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 10rem;
}

.testimonials__intro__text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.testimonials__review {
  background-color: #e4f3eb;
  padding: 3rem;
  border-radius: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: min-content 1fr;
      grid-template-columns: -webkit-min-content 1fr;
      grid-template-columns: min-content 1fr;
  grid-gap: 2rem;
}

.testimonials__review__text {
  grid-column: 1 / -1;
  font-size: 1.5rem;
}

.testimonials__img {
  width: 8rem;
  border-radius: 50%;
}

.testimonials__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.testimonials__stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 1rem;
}

.testimonials__icon {
  height: 2rem;
  width: 2rem;
  fill: #f39200;
  margin: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.testimonials__name {
  font-size: 1.2rem;
  text-transform: uppercase;
}
/*# sourceMappingURL=main.css.map */