.blog {
  margin-bottom: 15rem;

  &__heading {
    text-align: center;
    margin-bottom: 8rem;
  }

  &__posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
    grid-gap: 3rem;
  }

  &__post {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, min-content);
    grid-row-gap: 3rem;

    background-color: #fff7ec;
    border-radius: 1rem;
    padding: 3rem;
    transition: all .2s;

    &:hover {
      box-shadow: 0 3rem 4rem rgba($color: #000000, $alpha: .2);
      transform: translateY(-2rem);;

      .blog__btn span {
        margin-left: 8px;
      }
    }
  }

  &__img {
    width: 60%;

    grid-column: 1 / -1;
    justify-self: center;
  }

  &__author,
  &__date {
    font-size: 1.2rem;
    color: var(--color-gray-light);
  }

  &__text {
    grid-column: 1 / -1;
    font-size: 1.5rem;
    color: var(--color-blue-dark);
  }

  &__btn {
    grid-row: 4;
    justify-self: start;

    display: inline;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .2s;
    font-size: 1.5rem;
    border-bottom: 1px solid currentColor;
    padding-bottom: 2px;
    color: var(--color-orange);

    & span {
      margin-left: 3px;
      transition: margin-left .2s;
    }
  }
}