.footerr {
  background-color: #fef6e8;
  filter: brightness(90%);
  font-size: 1.7rem;
  padding-top: 4rem;
  color: var(--color-gray-light);

  &__menu {
    display: grid;
    grid-template-columns: max-content 1fr;
    justify-content: space-between;
    margin-bottom: 5rem;

    @media only screen and (max-width: $bp-small-3) {
      grid-template-columns: 1fr;
      grid-row-gap: 3rem;
      margin-bottom: 3rem;
    }
  }

  &__cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10rem;

    @media only screen and (max-width: $bp-small-4) {
      grid-template-columns: 1fr;
      grid-row-gap: 4rem;
      justify-items: center;
      text-align: center;
    }
  }

  &__contact {
    

    &-list {
      list-style: none;
    }

    &-item {
      margin-bottom: .8rem;
    }
  }

  &__heading {
    font-size: 2rem;
    font-weight: 400;
    color: var(--color-blue-dark);
    margin-bottom: 2rem;
  }

  &__links {
    

    &-list {
      list-style: none;
    }

    &-item {
      margin-bottom: .8rem;

      &-link {
        &:link,
        &:visited {
          color: var(--color-gray-light);
          text-decoration: none;
          display: inline-block;
          transition: all .2s;
        }

        &:hover,
        &:active {
          color: var(--color-blue-dark);
        }
      }
    }
  }

  &__social {
    justify-self: end;
    align-self: end;

    @media only screen and (max-width: $bp-small-3) {
      justify-self: center;
      align-self: center;
    }
  }

  &__icon {
    height: 4rem;
    width: 4rem;
    fill: var(--color-gray-light);
    transition: all .3s;

    &:not(:last-child) {
      margin-right: 2.5rem;
    }

    &:hover {
      fill: var(--color-blue-dark);
      cursor: pointer;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    padding-bottom: 4rem;

    @media only screen and (max-width: $bp-small-3) {
      flex-direction: column;
      align-items: center;
    }

    &-list {
      display: flex;

      list-style: none;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 2.5rem;
      }

      &-link {
        &:link,
        &:visited {
          color: var(--color-gray-light);
          text-decoration: none;
          display: inline-block;
          transition: all .2s;
        }

        &:hover,
        &:active {
          color: var(--color-blue-dark);
        }
      }
    }
  }

  &__navigation {
    
  }

  &__logo {
    @media only screen and (max-width: $bp-small) {
      display: none;
    }

    &-img {
      width: 5rem;
      height: auto;
    }
  }

  &__copy {
    @media only screen and (max-width: $bp-small-3) {
      margin-top: 2.5rem;
    }
  }
}
