.testimonials {
  margin-bottom: var(--mb-l);

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45rem, 1fr));
    grid-gap: 3rem;

    @media only screen and (max-width: $bp-small-4) {
      grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    }
  }

  &__intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10rem;

    @media only screen and (max-width: $bp-large) {
      margin: 0 5rem;
    }

    @media only screen and (max-width: $bp-small) {
      margin: 0;
      justify-self: center;
      text-align: center;
      margin-bottom: 3rem;
      max-width: 45rem;
    }

    &__heading {
      
    }

    &__text {
      font-size: 1.7rem;
      margin-top: 2rem;
      color: var(--color-gray-light);
    }
  }

  &__review {
    background-color: var(--color-green-light-1);
    padding: 3rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-gap: 2rem;

    &__text {
      grid-column: 1 / -1;
      font-size: 1.7rem;
      color: var(--color-blue-dark);
    }
  }

  &__img {
    width: 8rem;
    border-radius: 50%;
  }

  &__rating {
    display: flex;
    flex-direction: column;
    align-self: center;
  }

  &__stars {
    display: flex;
    align-content: center;
    margin-bottom: 1rem;
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: #f39200;
    margin: 0;
    align-self: center;
  }

  &__name {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--color-gray-light);
  }
}